@font-face {
    font-family: 'SodaCream';
    src: url('src/assets/Soda Cream.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.AuthForm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #01539F, #007BFF, #00A1E0);
    position: absolute;
    top: 0;
    left: 0;
}

.AuthForm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    height: auto;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.AuthForm-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.AuthForm-form img {
    margin-bottom: 20px;
}

.AuthForm-form h1 {
    margin: 20px 0;
    font-family: 'SodaCream', sans-serif;
    font-size: 50px;
    color: #333;
}

.AuthForm-form label {
    font-weight: bold;
    color: #555;
}

.AuthForm-form input {
    margin: 10px 0;
    width: 100%;
    padding: 12px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.AuthForm-form input:focus {
    border-color: #0056b3;
    outline: none;
}

.AuthForm-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

.AuthForm-form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.AuthForm-register {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.AuthForm-register a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.AuthForm-register a:hover {
    text-decoration: underline;
    color: #0056b3;
}


.Home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #01539F, #007BFF, #00A1E0);
    position: absolute;
    top: 0;
    left: 0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.NavBar-links {
    display: flex;
    gap: 150px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-grow: 1;
}

.NavBar-logo {
    display: flex;
    align-items: center;
}

.NavBar-title {
    font-family: 'SodaCream', sans-serif;
    font-size: 25px;
    color: #333;
    margin-left: 10px;
}


.NavBar-links a {
    text-decoration: none;
    color: #007BFF;
    font-family: 'SodaCream', sans-serif;
    font-size: 35px;
    transition: color 0.3s;
}

.NavBar-links a:hover {
    color: #0056b3;
}

.Home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #01539F, #007BFF, #00A1E0);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.Home-content {
    color: #fff;
    padding: 20px;
    max-width: 800px;
}

.Home-content img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.Home-content h1 {
    font-family:  sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Home-content p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 30px;
    padding: 0 20px;
}

.Home-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
}

.Home-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}