@font-face {
    font-family: 'SodaCream';
    src: url('src/assets/Soda Cream.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.AuthForm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #01539F, #007BFF, #00A1E0);
    position: absolute;
    top: 0;
    left: 0;
}

.AuthForm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    height: auto;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.AuthForm-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.AuthForm-form img {
    margin-bottom: 20px;
}

.AuthForm-form h1 {
    margin: 20px 0;
    font-family: 'SodaCream', sans-serif;
    font-size: 50px;
    color: #333;
}

.AuthForm-form label {
    font-weight: bold;
    color: #555;
}

.AuthForm-form input {
    margin: 10px 0;
    width: 100%;
    padding: 12px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.AuthForm-form input:focus {
    border-color: #0056b3;
    outline: none;
}

.AuthForm-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

.AuthForm-form button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.AuthForm-register {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.AuthForm-register a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.AuthForm-register a:hover {
    text-decoration: underline;
    color: #0056b3;
}


.Home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #01539F, #007BFF, #00A1E0);
    position: absolute;
    top: 0;
    left: 0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.NavBar-links {
    display: flex;
    gap: 150px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-grow: 1;
}

.NavBar-logo {
    display: flex;
    align-items: center;
}

.NavBar-title {
    font-family: 'SodaCream', sans-serif;
    font-size: 25px;
    color: #333;
    margin-left: 10px;
}


.NavBar-links a {
    text-decoration: none;
    color: #007BFF;
    font-family: 'SodaCream', sans-serif;
    font-size: 35px;
    transition: color 0.3s;
}

.NavBar-links a:hover {
    color: #0056b3;
}

.Home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #01539F, #007BFF, #00A1E0);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.Home-content {
    color: #fff;
    padding: 20px;
    max-width: 800px;
}

.Home-content img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.Home-content h1 {
    font-family: sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Home-content p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 30px;
    padding: 0 20px;
}

.Home-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
}

.Home-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.ChatWindow-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.ChatWindow-usersList {
    width: 280px;
    background-color: #007BFF;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ChatWindow-messages {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #007BFF;
    height: 100vh;
}

.MessagesWindow-content::-webkit-scrollbar {
    display: none;
}

.UsersList-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #007BFF;
    overflow-x: hidden;
}

.UsersList-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-top: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.UsersList-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.UsersList-userImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: lightgreen;

}

.UsersList-userInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.UsersList-username {
    font-size: 24px;
    color: #333;
    margin: 0;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.UsersList-status {
    display: flex;
    align-items: center;
}

.UsersList-statusIndicator {
    width: 10px;
    height: 10px;
    background-color: lightgreen;
    border-radius: 50%;
    margin-right: 5px;
}

.UsersList-statusText {
    font-size: 14px;
    color: #555;
}


.UsersList-profile,
.SearchBar-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: lightgreen;
    position: relative;
    padding: 10px 0;
    box-sizing: border-box;


}

.UsersList-profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}


.UsersList-profileImage:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.UsersList-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
    margin-top: 10px;
    overflow-x: hidden;
}

.UsersList-list li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.UsersList-list li:hover {
    background-color: #f0f0f0;
}

.UsersList-list::-webkit-scrollbar {
    display: none;
}

.UsersList-list {
    scrollbar-width: none;
}

.SearchBar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.SearchBar-container:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.SearchBar-input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    outline: none;
}

.SearchBar-input:focus {
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
}

.MessagesWindow-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("src/assets/chat-background2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-left: 1px solid #007BFF
}

.MessagesWindow-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    scrollbar-width: none;
    height: 100%;
    overflow-y: scroll;

}

.MessagesWindow-content p {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
}

.MessagesWindow-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.message-sender {
    background-color: #d1e7dd;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-end;
    max-width: 80%;
}

.message-recipient {
    background-color: #f8d7da;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    align-self: flex-start;
    max-width: 80%;
}



.MessageInputBar-container {
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MessageInputBar-input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.MessageInputBar-input:focus {
    border-color: #007BFF;
}

.MessageInputBar-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.MessageInputBar-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.ChatHeader-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-bottom: 1px solid #ccc;
}

.ChatHeader-profileImage {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: lightgreen;

}

.ChatHeader-username {
    font-size: 18px;
    margin: 0;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

.error-code {
    font-size: 100px;
    font-weight: bold;
    color: #007BFF;
}

.error-message {
    font-size: 24px;
    margin: 10px 0;
}

.error-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.home-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}